{
  "presets": [
    [ "env", { "targets": { "node": "6" } } ],
  ],
  "sourceMaps": "inline",
  "retainLines": true,
  plugins: [[
    "transform-async-to-module-method",
    {
      "module": "bluebird",
      "method": "coroutine"
    }
  ]]
}
